<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="D:/untitled9">
        <parameter name="manufacturer" value="Samsung"></parameter>
        <parameter name="maximumPrice" value="1000,00"></parameter>
        <parameter name="minScreenSize" value="40"></parameter>
        <parameter name="maxScreenSize" value="50"></parameter>
        <parameter name="resolution" value="1920x1080 (Full HD)"></parameter>
        <classes>
            <class name="OnlinerTest">
            </class>
        </classes>
    </test>
</suite>